<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>
    <form method="post" action="/posts" >
        Username: <input type="text" placeholder="Enter your name" name="username"><br><br>
        <textarea rows="10"cols="35" name="content" placeholder="Type your content here"></textarea>
        <br><br>
        <button>Submit</button>
    </form>
   
</body>
</html>